---
import GlobalStyles from "@components/global-styles.astro";
import SEO from "@components/seo.astro";
import "@styles/reset.css";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{frontmatter.title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO frontmatter={frontmatter} />
  </head>
  <body>
    <GlobalStyles />
    <main>
      <slot />
    </main>
  </body>
</html>
